.columns {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.column {
  display: block;
  flex: 1 1 50%;
  box-sizing: border-box;
  padding-right: 12px;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 180px;
  overflow: hidden;
}

.title {
  margin: 0;
  text-align: left;
}

.list_item {
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 6px;
}

.content {
  text-align: left;
}
